[submodule "libsrc/heros"]
	path = libsrc/heros
	url = https://github.com/petablox-project/heros.git
	branch = develop
[submodule "libsrc/jasmin"]
	path = libsrc/jasmin
	url = https://github.com/petablox-project/jasmin.git
	branch = develop
[submodule "libsrc/tamiflex"]
	path = libsrc/tamiflex
	url = https://github.com/petablox-project/tamiflex.git
	branch = master
[submodule "libsrc/soot"]
	path = libsrc/soot
	url = https://github.com/petablox-project/soot.git
	branch = develop
[submodule "libsrc/souffle"]
	path = libsrc/souffle
	url = https://github.com/souffle-lang/souffle.git
