petablox.jar
reflection-instr.jar
classes
libsrc/libs/*
libsrc/heros/heros-trunk.jar
libsrc/heros/herosclasses-trunk.jar
libsrc/jasmin/lib/jasmin*
libsrc/soot/lib/*
libsrc/tamiflex/Booster/lib/*
/bin/
/bin1/
.*.swp
.*.swo
