kcfaDIC_XZ89_0 kcfaDIC 3 _0 0 1 CIC 3 _0  0 1 MI 2 2 0 epsilonM 1 2
kcfaDIC_XZ89_1 kcfaDIC 3 0 1 2 CIC 3 0 1 2 MI 2 3 1 kcfaSenM 1 3
CICM_XZ89_2 CICM 4 0 1 2 3 reachableCI 2 0 1 kcfaSenIHM 3 1 4 3 DIH 3 0 1 4 kcfaDIC 3 0 1 2
CICM_XZ89_3 CICM 4 0 1 _0 2 reachableCI 2 0 1 ctxtInsSpecIM 2 1 2 DI 2 0 1
CICM_XZ89_4 CICM 4 0 1 2 3 reachableCI 2 0 1 kcfaSenSpecIM 2 1 3 DI 2 0 1 kcfaDIC 3 0 1 2
CICM_XZ89_5 CICM 4 0 1 _0 2 reachableCI 2 0 1 ctxtInsStatIM 2 1 2
CICM_XZ89_6 CICM 4 0 1 2 3 reachableCI 2 0 1 kcfaSenStatIM 2 1 3 kcfaDIC 3 0 1 2
DVDV_XZ89_7 DVDV 4 0 1 2 3 argCopy 4 4 3 5 1 CICM 4 2 4 0 5
DVDV_XZ89_8 DVDV 4 0 1 2 3 retCopy 4 4 1 5 3 CICM 4 0 4 2 5
CVC_XZ89_9 CVC 3 0 1 2 DVDV 4 0 1 3 4 CVC 3 3 4 2 VCfilter 2 1 2
CVC_XZ89_10 CVC 3 0 1 2 RobjValAsgnInst 3 0 1 3 CHC 3 0 3 2
CVC_XZ89_11 CVC 3 0 1 2 RobjVarAsgnInst 3 0 1 3 CVC 3 0 3 2 VCfilter 2 1 2
CVC_XZ89_12 CVC 3 0 1 2 CVC_30_0 4 0 1 3 4 CFC 3 4 3 2
CVC_XZ89_13 CVC 3 0 1 2 RgetStatFldInst 3 0 1 3 FC 2 3 2
CFC_XZ89_14 CFC 3 0 1 2 CFC_34_0 4 3 1 4 0 CVC 3 3 4 2
FC_XZ89_15 FC 2 0 1 RputStatFldInst 3 2 0 3 CVC 3 2 3 1
CVC_XZ89_16 CVC 3 0 1 2 reachableCI 2 0 3 objNewInstIM 2 3 4 MmethArg 3 4 _0  1 objNewInstIH 2 3 5 CHC 3 0 5 2
CVC_XZ89_17 CVC 3 0 1 2 reachableCI 2 0 3 objNewInstIH 2 3 4 IinvkRet 3 3 _0  1 CHC 3 0 4 2
CVC_XZ89_18 CVC 3 0 1 2 reachableCI 2 0 3 conNewInstIM 2 3 4 IinvkArg 3 3 _1  5 MmethArg 3 4 _1  1 CVC 3 0 5 6 CFC 3 6 _0  2
CVC_XZ89_19 CVC 3 0 1 2 reachableCI 2 0 3 conNewInstIM 2 3 4 MmethArg 3 4 _0  1 conNewInstIH 2 3 5 CHC 3 0 5 2
CVC_XZ89_20 CVC 3 0 1 2 reachableCI 2 0 3 conNewInstIH 2 3 4 IinvkRet 3 3 _0  1 CHC 3 0 4 2
CVC_XZ89_21 CVC 3 0 1 2 reachableCI 2 0 3 aryNewInstIH 2 3 4 IinvkRet 3 3 _0  1 CHC 3 0 4 2
CMCM_XZ89_22 CMCM 4 0 1 2 3 CICM 4 0 4 2 3 MI 2 1 4
CVC_30_0_XZ89_23 CVC_30_0 4 0 1 2 3 RgetInstFldInst 4 0 1 4 2 CVC 3 0 4 3
CFC_34_0_XZ89_24 CFC_34_0 4 0 1 2 3 RputInstFldInst 4 0 4 1 2 CVC 3 0 4 3
reachableCM_XZ89_25 reachableCM 2 0 1 CICM 4 2 3 0 1
reachableCI_XZ89_26 reachableCI 2 0 1 MI 2 2 1 reachableCM 2 0 2
DIC_XZ89_27 DIC 3 0 1 2 IinvkArg0 2 1 3 CVC 3 0 3 2
DIH_XZ89_28 DIH 3 0 1 2 DIC 3 0 1 3 CH 2 3 2
DI_XZ89_29 DI 2 0 1 DIH 3 0 1 2
CICM_XZ89_30 CICM 4 0 1 _0 2 reachableCI 2 0 1 ctxtInsIHM 3 1 3 2 DIH 3 0 1 3
RobjValAsgnInst_XZ89_31 RobjValAsgnInst 3 0 1 2 reachableCM 2 0 3 MobjValAsgnInst 3 3 1 2
RobjVarAsgnInst_XZ89_32 RobjVarAsgnInst 3 0 1 2 reachableCM 2 0 3 MobjVarAsgnInst 3 3 1 2
RgetInstFldInst_XZ89_33 RgetInstFldInst 4 0 1 2 3 reachableCM 2 0 4 MgetInstFldInst 4 4 1 2 3
RgetStatFldInst_XZ89_34 RgetStatFldInst 3 0 1 2 reachableCM 2 0 3 MgetStatFldInst 3 3 1 2
RputInstFldInst_XZ89_35 RputInstFldInst 4 0 1 2 3 reachableCM 2 0 4 MputInstFldInst 4 4 1 2 3
RputStatFldInst_XZ89_36 RputStatFldInst 3 0 1 2 reachableCM 2 0 3 MputStatFldInst 3 3 1 2
reachableCM_XZ89_37 reachableCM 2 0 1 reachableCI 2 0 2 objNewInstIM 2 2 1
reachableCM_XZ89_38 reachableCM 2 0 1 reachableCI 2 0 2 conNewInstIM 2 2 1
reachableT_XZ89_39 reachableT 1 0 reachableCI 2 1 2 conNewInstIH 2 2 3 HT 2 3 0
reachableT_XZ89_40 reachableT 1 0 reachableCI 2 1 2 objNewInstIH 2 2 3 HT 2 3 0
reachableT_XZ89_41 reachableT 1 0 reachableCI 2 1 2 clsForNameIT 2 2 0
reachableT_XZ89_42 reachableT 1 0 reachableCM 2 1 2 MobjValAsgnInst 3 2 3 4 HT 2 4 0
reachableT_XZ89_43 reachableT 1 0 reachableCM 2 1 2 staticTM 2 0 2
reachableT_XZ89_44 reachableT 1 0 reachableCM 2 1 2 MputStatFldInst 3 2 3 4 staticTF 2 0 3
reachableT_XZ89_45 reachableT 1 0 reachableCM 2 1 2 MgetStatFldInst 3 2 3 4 staticTF 2 0 4
reachableT_XZ89_46 reachableT 1 0 classT 1 0 reachableT 1 1 sub 2 1 0
rootCM_XZ89_47 rootCM 2 _0 0 reachableT 1 1 clinitTM 2 1 0
reachableCM_XZ89_49 reachableCM 2 _0 0 clinitTM 2 1 0 reachableT 1 1
