local.config

*~
#*#
.#*

*.class
*.pyc
*.apk
*.dex
*.apk.d
*.ap_
*.ap_.d
*.jimple
.project
.classpath
.settings
timestamp.txt

apps/*/*/bin
apps/*/*/build.xml
apps/*/*/custom_rules.xml
apps/*/*/gen
apps/*/*/libs/stamp.annotations.jar
apps/*/*/local.properties
apps/*/*/proguard-project.txt
apps/*/*/project.properties
apps/*/*/stamp.app.properties
apps/*/*/stamp-url.txt

*.war
*.ear

bin/*.jar
bin/api-*/*

models/api-*/*
stamp_output/*
main/gen/

tomcat/logs/*
tomcat/work/Catalina/localhost/*
tomcat/webapps/*

web/web.xml