stamp.analyses.pre=inject-annot,base-java,annot-java,contexts-java,context-label-java,pre-dlog
stamp.analyses.post=jimpleprinter,post-dlog,post-java,dynfeatures-java
#stamp.analyses.post=jimpleprinter,post-dlog,post-java,dynfeatures-java,cfl-init-dlog,cfl-annot-dlog,cfl-normal-pt-dlog,cfl-taint-dlog
#stamp.analyses.post=jimpleprinter,post-dlog,dynfeatures-java,cfl-init-dlog,cfl-annot-dlog,cfl-ph-pt-dlog,cfl-stub-dlog,cfl-normal-pt-dlog,cfl-taint-dlog,jcflsolver,post-java
#stamp.analyses.post=jimpleprinter,post-dlog,dynfeatures-java,cfl-init-dlog,cfl-annot-dlog,cfl-stub-dlog,cfl-partial-pt-dlog,cfl-taint-dlog,cfl-taint-active-dlog,cfl-partial-pt-active-dlog,jcflsolver,post-java
stamp.printrels=

chord.verbose=2
stamp.maxheap=4096m
stamp.browser=google-chrome
stamp.osx_browser=Aurora
stamp.androidtarget="Google Inc.:Google APIs:15"
#stamp.androidtarget="Google Inc.:Google APIs:19"
chord.bddbddb.max.heap=4096m
#this option is obselete
chord.max.heap=4096m
