stamp.analyses.pre=callbacks-fix,gui-fix,inline-fix,inject-annot,base-java,annot-java,cipt-cg-dlog,ctxts-obj-java,context-label-java,pre-dlog
stamp.analyses.main=typefilter-dlog,pt-obj-dlog,taint-lim-dlog
stamp.analyses.post=jimpleprinter

stamp.printrels=flow

chord.verbose=2
stamp.maxheap=4096m
stamp.browser=google-chrome
stamp.osx_browser=Aurora
stamp.androidtarget="Google Inc.:Google APIs:19"
chord.bddbddb.max.heap=4096m

stamp.show.results=false

#this option is obselete
chord.max.heap=4096m

stamp.apposcopy=false
stamp.report.dir=

