/* Author: Patrick Mutchler */
/* Styles for the nav bar that aren't handled by bootstrap or fuelex */


#nav-div{
	line-height: 40px;
	text-align: center;
	height:40px;
	float:right;
}

#nav-label{
	display: inline-block;
	line-height: normal;
	color:#999; 
	margin-bottom:20px;  
	padding-right:15px;
}

#grep-input{
	margin-bottom:2px;
}