.droidrecord-parameter-info-table {
    font-size: x-small;
}

.droidrecord-parameter-info-table th {
    color: #666666;
    border-right-style:dotted;
    border-bottom-style:dotted;
    border-left-style:dotted;
    border-color: #AAAAAA;
    border-width: 1px;
}

.droidrecord-parameter-info-table th.table-leftmost {
    border-left-style:none;
}

.droidrecord-parameter-info-table th.table-rightmost {
    border-right-style:none;
}

.droidrecord-parameter-info-table td {
    color: #253D57;
    border-right-style:dotted;
    border-left-style:dotted;
    border-color: #AAAAAA;
    border-width: 1px;
}

.droidrecord-parameter-info-table td.table-leftmost {
    border-left-style:none;
}

.droidrecord-parameter-info-table td.table-rightmost {
    border-right-style:none;
}
