.mparameter-key-0 {
    color: #505050;
}
a.mparameter-key-0 {
    color: #505050;
}
/* Color scheme from: http://www.colorschemer.com/schemes/viewscheme.php?id=10192 */
a.mparameter-key-1 {
    color: #5DD517;
}
a.mparameter-key-2 {
    color: #F6451A;
}
a.mparameter-key-3 {
    color: #F5DE1A;
}
a.mparameter-key-4 {
    color: #152ACA;
}
ul.method-list {
    font-size: 18px;
    font-weight: bold;
}
ul.method-list div.popover-content {
    font-size: 12px;
    font-weight: normal;
}
div.accordion-heading div.button-div {
    float:left;
}
div.method-container {
    font-size: 18px;
    font-weight: bold; 
    padding-top: 5px;
    padding-bottom: 3px;
    padding-left: 41px;
}
div.method-container-callback {
    padding-left: 10px;
}
div.method-container div.popover-content {
    font-size: 12px;
    font-weight: normal;
}

/* Show popovers over collapsible and tab divisions */
div.collapse-visible {
    overflow:visible!important;
}

div.tab-content {
    overflow: visible!important;
}
div.tab-pane.active {
    overflow: visible!important;
}
