# Field-sensitive, k-CFA-based, points-to-based, taint-flow-based taint
# analysis.

# Handles:
# - [X] Points-to information
# - [-] Taint flow
#   - [X] Reference-type
#   - [ ] Primitive-type
# - [-] Passthroughs
#   - [X] ref-to-ref
#   - [ ] prim-to-prim
#   - [ ] ref-to-prim
#   - [ ] prim-to-ref
# - [ ] Nested object tainting (ref, prim)
#   - [ ] models tainting existing objects (arbitrarily deeply)
#   - [ ] models allocating (and arbitrarily sub-tainting) new objects
# - [ ] Nested object escaping (ref, prim)
# - [ ] Nested passthrough taint (ref, prim)
# - [ ] Non-full passthrough variants
# - ...

FlowsTo :: cs_refAlloc
         | FlowsTo cs_refAssign
         | FlowsTo cs_refStore[f] Alias cs_refLoad[f]

Alias :: _FlowsTo FlowsTo

TaintFlow :: cs_srcRefFlow
           | TaintFlow cs_refAssign
           | TaintFlow cs_refStore[f] Alias cs_refLoad[f]
           | TaintFlow cs_refRefFlow

SrcSinkFlow :: TaintFlow cs_refSinkFlow
