CCMatch_XZ89_0_66 CCMatch 2 0 1 CHC 3 2 3 0 COC 3 2 3 1
CICM_XZ89_1_66 CICM 4 0 1 2 3 reachableCI 2 0 1 kobjSenICM 3 1 4 3 DIC 3 0 1 4 CCMatch 2 4 2
CCM_XZ89_2_66 CCM 3 0 1 2 reachableCI 2 3 4 kobjSenICM 3 4 0 2 DIC 3 3 4 0 CCMatch 2 0 1
CICM_XZ89_3_66 CICM 4 0 1 _0 2 reachableCI 2 0 1 ctxtInsSpecIM 2 1 2 DI 2 0 1
CICM_XZ89_4_66 CICM 4 0 1 2 3 reachableCI 2 0 1 kobjSenSpecIM 2 1 3 DIC 3 0 1 4 CCMatch 2 4 2
CCM_XZ89_5_66 CCM 3 0 1 2 reachableCI 2 3 4 kobjSenSpecIM 2 4 2 DIC 3 3 4 0 CCMatch 2 0 1
CICM_XZ89_6_66 CICM 4 0 1 _0 2 reachableCI 2 0 1 ctxtInsStatIM 2 1 2
CICM_XZ89_7_66 CICM 4 0 1 2 3 reachableCI 2 0 1 ctxtCpyStatIM 2 1 3
CVC_XZ89_8_66 CVC 3 0 1 2 CCM 3 2 0 3 MspcMethArg 2 3 1 CH 2 0 4 CH 2 2 4
DVDV_XZ89_9_66 DVDV 4 0 1 2 3 argCopy 4 4 3 5 1 CICM 4 2 4 0 5
DVDV_XZ89_10_66 DVDV 4 0 1 2 3 retCopy 4 4 1 5 3 CICM 4 0 4 2 5
CVC_XZ89_11_66 CVC 3 0 1 2 DVDV 4 0 1 3 4 CVC 3 3 4 2 VCfilter 2 1 2
CVC_XZ89_12_66 CVC 3 0 1 2 RobjValAsgnInst 3 0 1 3 CHC 3 0 3 2
CVC_XZ89_13_66 CVC 3 0 1 2 RobjVarAsgnInst 3 0 1 3 CVC 3 0 3 2 VCfilter 2 1 2
CVC_XZ89_14_66 CVC 3 0 1 2 CVC_33_0 4 0 1 3 4 CFC 3 4 3 2
CVC_XZ89_15_66 CVC 3 0 1 2 RgetStatFldInst 3 0 1 3 FC 2 3 2
CFC_XZ89_16_66 CFC 3 0 1 2 CFC_37_0 4 3 1 4 0 CVC 3 3 4 2
FC_XZ89_17_66 FC 2 0 1 RputStatFldInst 3 2 0 3 CVC 3 2 3 1
CVC_XZ89_18_66 CVC 3 0 1 2 reachableCI 2 0 3 objNewInstIM 2 3 4 MmethArg 3 4 _0  1 objNewInstIH 2 3 5 CHC 3 0 5 2
CVC_XZ89_19_66 CVC 3 0 1 2 reachableCI 2 0 3 objNewInstIH 2 3 4 IinvkRet 3 3 _0  1 CHC 3 0 4 2
CVC_XZ89_20_66 CVC 3 0 1 2 reachableCI 2 0 3 conNewInstIM 2 3 4 IinvkArg 3 3 _1  5 MmethArg 3 4 _1  1 CVC 3 0 5 6 CFC 3 6 _0  2
CVC_XZ89_21_66 CVC 3 0 1 2 reachableCI 2 0 3 conNewInstIM 2 3 4 MmethArg 3 4 _0  1 conNewInstIH 2 3 5 CHC 3 0 5 2
CVC_XZ89_22_66 CVC 3 0 1 2 reachableCI 2 0 3 conNewInstIH 2 3 4 IinvkRet 3 3 _0  1 CHC 3 0 4 2
CVC_XZ89_23_66 CVC 3 0 1 2 reachableCI 2 0 3 aryNewInstIH 2 3 4 IinvkRet 3 3 _0  1 CHC 3 0 4 2
CMCM_XZ89_24_66 CMCM 4 0 1 2 3 CICM 4 0 4 2 3 MI 2 1 4
CVC_33_0_XZ89_25_66 CVC_33_0 4 0 1 2 3 RgetInstFldInst 4 0 1 4 2 CVC 3 0 4 3
CFC_37_0_XZ89_26_66 CFC_37_0 4 0 1 2 3 RputInstFldInst 4 0 4 1 2 CVC 3 0 4 3
reachableCM_XZ89_27_66 reachableCM 2 0 1 CICM 4 2 3 0 1
reachableCI_XZ89_28_66 reachableCI 2 0 1 MI 2 2 1 reachableCM 2 0 2
DIC_XZ89_29_66 DIC 3 0 1 2 IinvkArg0 2 1 3 CVC 3 0 3 2
DIH_XZ89_30_66 DIH 3 0 1 2 DIC 3 0 1 3 CH 2 3 2
DI_XZ89_31_66 DI 2 0 1 DIH 3 0 1 2
CICM_XZ89_32_66 CICM 4 0 1 _0 2 reachableCI 2 0 1 ctxtInsIHM 3 1 3 2 DIH 3 0 1 3
RobjValAsgnInst_XZ89_33_66 RobjValAsgnInst 3 0 1 2 reachableCM 2 0 3 MobjValAsgnInst 3 3 1 2
RobjVarAsgnInst_XZ89_34_66 RobjVarAsgnInst 3 0 1 2 reachableCM 2 0 3 MobjVarAsgnInst 3 3 1 2
RgetInstFldInst_XZ89_35_66 RgetInstFldInst 4 0 1 2 3 reachableCM 2 0 4 MgetInstFldInst 4 4 1 2 3
RgetStatFldInst_XZ89_36_66 RgetStatFldInst 3 0 1 2 reachableCM 2 0 3 MgetStatFldInst 3 3 1 2
RputInstFldInst_XZ89_37_66 RputInstFldInst 4 0 1 2 3 reachableCM 2 0 4 MputInstFldInst 4 4 1 2 3
RputStatFldInst_XZ89_38_66 RputStatFldInst 3 0 1 2 reachableCM 2 0 3 MputStatFldInst 3 3 1 2
reachableCM_XZ89_39_66 reachableCM 2 0 1 reachableCI 2 0 2 objNewInstIM 2 2 1
reachableCM_XZ89_40_66 reachableCM 2 0 1 reachableCI 2 0 2 conNewInstIM 2 2 1
reachableT_XZ89_41_66 reachableT 1 0 reachableCI 2 1 2 conNewInstIH 2 2 3 HT 2 3 0
reachableT_XZ89_42_66 reachableT 1 0 reachableCI 2 1 2 objNewInstIH 2 2 3 HT 2 3 0
reachableT_XZ89_43_66 reachableT 1 0 reachableCI 2 1 2 clsForNameIT 2 2 0
reachableT_XZ89_44_66 reachableT 1 0 reachableCM 2 1 2 MobjValAsgnInst 3 2 3 4 HT 2 4 0
reachableT_XZ89_45_66 reachableT 1 0 reachableCM 2 1 2 staticTM 2 0 2
reachableT_XZ89_46_66 reachableT 1 0 reachableCM 2 1 2 MputStatFldInst 3 2 3 4 staticTF 2 0 3
reachableT_XZ89_47_66 reachableT 1 0 reachableCM 2 1 2 MgetStatFldInst 3 2 3 4 staticTF 2 0 4
reachableT_XZ89_48_66 reachableT 1 0 classT 1 0 reachableT 1 1 sub 2 1 0
rootCM_XZ89_49_66 rootCM 2 _0 0 reachableT 1 1 clinitTM 2 1 0
reachableCM_XZ89_51_66 reachableCM 2 _0 0 clinitTM 2 1 0 reachableT 1 1
